@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Muller";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Muller-Trial-Regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Muller";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Muller-Trial-Medium.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Muller";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Muller-Trial-ExtraBold.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(29, 9, 2);
  color: #fff;
  font-family: "Muller";
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  background: transparent;
  border: none;
  font-family: "Muller";
}

.gradient-border {
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 11px 52px 10px 50px;
  background: linear-gradient(to right, rgb(29, 9, 2), rgb(29, 9, 2)), linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  cursor: pointer;
}
.gradient-border span {
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.gradient-border:hover {
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
}
.gradient-border:hover span {
  color: #fff;
}

.container {
  max-width: 1240px;
  padding: 0 10px;
  margin: 0 auto;
}

.logo {
  font-weight: 800;
  font-size: 34px;
  line-height: 110%;
  letter-spacing: 0;
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.hamburger {
  width: 27px;
  height: 27px;
  background: url(../../img/hamburger.png) no-repeat center center;
  margin-left: 23px;
  display: none;
}

.hamburger--close {
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
  -webkit-mask-image: url(../../img/x-lg.svg);
          mask-image: url(../../img/x-lg.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: contain;
          mask-size: contain;
}

@media only screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
}
@keyframes hamburger-opener {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes hamburger-closer {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
.header {
  padding: 48px 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
}

.header__nav-list {
  display: flex;
  align-items: center;
}

.header__nav-item {
  margin-right: 80px;
  position: relative;
  padding: 13px 0;
}
.header__nav-item:last-child {
  margin-right: 0;
}
.header__nav-item:hover .header__nav-item-link {
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.header__nav-item:hover::after {
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
}
.header__nav-item::after {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  content: "";
  background: transparent;
  bottom: 0;
  left: calc(50% - 3px);
}

.header__nav-item-link {
  font-size: 17px;
  line-height: 110%;
}

.header__button-wrapper {
  display: flex;
  align-items: center;
}

.header__basket-link {
  border-radius: 50%;
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
  padding: 1px 4px;
  margin-left: 26px;
  text-align: center;
}

.header__nav-sign-link {
  display: none;
}

@media only screen and (max-width: 890px) {
  .header__nav-item {
    margin-right: 24px;
  }
}
@media only screen and (max-width: 768px) {
  .header {
    padding: 20px 0;
  }
  .header__sign-link {
    display: none;
  }
  .header__nav-wrapper {
    position: fixed;
    top: 81px;
    right: 0;
    transform: translateX(100%);
    height: calc(100vh - 81px);
    width: 50%;
    background-color: rgb(12, 5, 0);
    border-radius: 20px 0 0 20px;
    box-shadow: 5px 50px 10px 90px rgba(27, 12, 1, 0.06);
    text-align: center;
    animation: hamburger-closer 500ms forwards;
    transition: transform 0.5s ease;
    z-index: 99;
  }
  .header__nav-wrapper--open {
    transform: translateX(0);
    animation: hamburger-opener 500ms forwards;
  }
  .header__nav-wrapper--open .header__nav-sign-link {
    display: inline-block;
  }
  .header__nav-list {
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .header__nav-item {
    margin: 0 0 12px;
  }
}
@media only screen and (max-width: 570px) {
  .header__nav-wrapper {
    width: 70%;
  }
}
.intro {
  padding: 61px 0 120px 0;
}

.intro__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.intro__text-container {
  padding: 0 10px;
}

.intro__slogan {
  font-weight: 800;
  font-size: 69.17px;
  line-height: 110%;
  letter-spacing: 0%;
  position: relative;
  margin-bottom: 30px;
}
.intro__slogan::after {
  position: absolute;
  width: 89px;
  height: 56px;
  content: "";
  background-image: url(../../img/intro-vector-title.png);
  background-repeat: no-repeat;
  background-position: right top;
  top: 20%;
  left: 75%;
}

.intro__span-title {
  padding: 0 30px;
  background-image: url(../../img/Lightning.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.intro__text {
  color: dimgrey;
  margin-bottom: 23px;
}

.intro__span-text {
  color: white;
}

.intro__video {
  width: 272px;
  height: 193px;
  background-image: url(../../img/intro-img.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.intro__video-button {
  position: absolute;
  width: 81px;
  height: 81px;
  border-radius: 40px;
  border: 3px solid coral;
  z-index: 1;
  background-color: black;
  left: calc(50% - 40px);
  top: 50px;
  cursor: pointer;
  position: relative;
}
.intro__video-button::after {
  position: absolute;
  width: 24px;
  height: 26px;
  content: "";
  background: url(../../img/pley.png) no-repeat center center;
  left: calc(50% - 12px);
  top: 25px;
}

.intro__link-container {
  display: flex;
  justify-content: space-between;
  margin-top: 58px;
  width: 430px;
  border: 2px solid coral;
  padding: 1px 1px;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 70px;
  position: relative;
}
.intro__link-container::after {
  position: absolute;
  width: 190px;
  height: 190px;
  content: "";
  background-image: url(../../img/intro-vector-link.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  right: -50%;
  top: 0;
}

.intro__link {
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  padding: 20px 56px;
  font-weight: 500;
  font-size: 22.44px;
  line-height: 124%;
  letter-spacing: 0%;
}

.intro__img-one {
  position: relative;
}
.intro__img-one::after {
  position: absolute;
  width: 190px;
  height: 153px;
  content: "";
  background-image: url(../../img/intro-pizza-img.png);
  background-repeat: no-repeat;
  background-position: center center;
  left: 60%;
  top: -5%;
}
.intro__img-one::before {
  position: absolute;
  width: 180px;
  height: 200px;
  content: "";
  background-image: url(../../img/intro-fries-img.png);
  background-repeat: no-repeat;
  background-position: center center;
  left: -10%;
  bottom: 15%;
}

@media only screen and (max-width: 1000px) {
  .intro__img {
    width: 370px;
    height: 583px;
  }
  .intro__link-container {
    width: 288px;
  }
  .intro__link-container::after {
    display: none;
  }
  .intro__link {
    font-size: 16px;
    padding: 15px 30px;
  }
  .intro__img-one::after {
    width: 156px;
    height: 100px;
    background-size: cover;
    left: 58%;
    top: 1px;
  }
  .intro__img-one::before {
    width: 140px;
    height: 140px;
    background-size: cover;
    bottom: 0%;
    left: -10%;
  }
  .intro__slogan {
    font-size: 45px;
  }
  .intro__slogan::after {
    width: 60px;
    height: 30px;
    background-size: cover;
  }
  .intro__span-title {
    background-image: url(../../img/Lightning-two.png);
  }
}
@media only screen and (max-width: 760px) {
  .intro__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intro__link {
    font-size: 16px;
  }
  .intro__img-one::before {
    bottom: 0;
  }
  .intro__img-container {
    padding-bottom: 0;
  }
  .intro__img {
    width: 243px;
    height: 365px;
  }
  .intro__img-one::after {
    top: -20px;
  }
  .intro__img-one::before {
    bottom: -5%;
    left: -20%;
  }
  .intro__video {
    width: 194px;
    height: 138px;
    background-size: cover;
    text-align: center;
  }
  .intro__slogan {
    font-size: 30px;
  }
  .intro__video-button {
    width: 57px;
    height: 57px;
    left: 0;
    top: calc(50% - 28px);
    position: relative;
  }
  .intro__video-button::after {
    position: absolute;
    width: 17px;
    height: 17px;
    content: "";
    background-image: url(../../img/pley-small.png);
    left: calc(50% - 8px);
    top: calc(50% - 8px);
  }
  .intro__button-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    flex-direction: column-reverse;
  }
  .intro__link-container {
    margin-top: 33px;
    margin-bottom: 32px;
  }
}
.link {
  font-size: 19px;
  font-weight: 500;
  padding: 11px 56px;
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
  border-radius: 70px;
  color: white;
}

@media only screen and (max-width: 1000px) {
  .link {
    padding: 11px 30px;
    font-size: 16px;
  }
}