@import url("https://fonts.cdnfonts.com/css/muller-next-expanded-trial");
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Muller";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Muller-Trial-Regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Muller";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Muller-Trial-Medium.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Muller";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Muller-Trial-ExtraBold.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* x {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(29, 9, 2);
  color: #fff;
  font-family: "Muller";
}

ol,
ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  background: transparent;
  border: none;
  font-family: "Muller";
}

.gradient-border {
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 11px 52px 10px 50px;
  background: linear-gradient(to right, rgb(29, 9, 2), rgb(29, 9, 2)), linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  cursor: pointer;
}
.gradient-border span {
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.gradient-border:hover {
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
}
.gradient-border:hover span {
  color: #fff;
}

@media only screen and (max-width: 428px) {
  .card__span {
    text-align: center;
  }
}
.container {
  max-width: 1240px;
  padding: 0 10px;
  margin: 0 auto;
}

.logo {
  font-weight: 800;
  font-size: 34px;
  line-height: 110%;
  letter-spacing: 0;
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.hamburger {
  width: 27px;
  height: 27px;
  background: url(../../img/hamburger.png) no-repeat center center;
  margin-left: 23px;
  display: none;
}

.hamburger--close {
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
  -webkit-mask-image: url(../../img/x-lg.svg);
          mask-image: url(../../img/x-lg.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: contain;
          mask-size: contain;
}

@media only screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
}
@keyframes hamburger-opener {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes hamburger-closer {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
.header {
  position: sticky;
  top: 0;
  z-index: 99;
  background: rgb(29, 9, 2);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
}

.header__nav-list {
  display: flex;
  align-items: center;
}

.header__gradient {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 82px;
  z-index: 90;
  background-color: rgba(23, 10, 0, 0.6);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  display: none;
}

.header__nav-item {
  margin-right: 80px;
  position: relative;
  padding: 13px 0;
}
.header__nav-item:last-child {
  margin-right: 0;
}
.header__nav-item:hover .header__nav-item-link {
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.header__nav-item:hover::after {
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
}
.header__nav-item::after {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  content: "";
  background: transparent;
  bottom: 0;
  left: calc(50% - 3px);
}

.header__nav-item-link {
  font-size: 17px;
  line-height: 110%;
}

.header__button-wrapper {
  display: flex;
  align-items: center;
}

.header__basket-link {
  border-radius: 50%;
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
  padding: 1px 4px;
  margin-left: 26px;
  text-align: center;
}

.header__nav-sign-link {
  display: none;
}

@media only screen and (max-width: 890px) {
  .header__nav-item {
    margin-right: 24px;
  }
}
@media only screen and (max-width: 768px) {
  .header {
    padding: 20px 0;
  }
  .header__sign-link {
    display: none;
  }
  .header__nav-wrapper {
    position: fixed;
    top: 81px;
    right: 0;
    transform: translateX(100%);
    height: calc(100vh - 81px);
    width: 50%;
    background-color: rgb(12, 5, 0);
    border-radius: 20px 0 0 20px;
    box-shadow: 5px 50px 10px 90px rgba(27, 12, 1, 0.06);
    text-align: center;
    animation: hamburger-closer 500ms forwards;
    transition: transform 0.5s ease;
    z-index: 99;
  }
  .header__nav-wrapper--open {
    transform: translateX(0);
    animation: hamburger-opener 500ms forwards;
  }
  .header__nav-wrapper--open .header__nav-sign-link {
    display: inline-block;
  }
  .header__nav-list {
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .header__nav-item {
    margin: 0 0 12px;
  }
  .header__gradient--active {
    display: block;
  }
}
@media only screen and (max-width: 570px) {
  .header__nav-wrapper {
    width: 70%;
  }
}
.intro {
  padding: 61px 0 120px 0;
}

.intro__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.intro__text-container {
  padding: 0 10px;
}

.intro__slogan {
  font-weight: 800;
  font-size: 69.17px;
  line-height: 110%;
  letter-spacing: 0%;
  position: relative;
  margin-bottom: 30px;
}
.intro__slogan::after {
  position: absolute;
  width: 89px;
  height: 56px;
  content: "";
  background-image: url(../../img/intro-vector-title.png);
  background-repeat: no-repeat;
  background-position: right top;
  top: 20%;
  left: 75%;
}

.intro__span-title {
  padding: 0 30px;
  background-image: url(../../img/Lightning.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.intro__text {
  color: dimgrey;
  margin-bottom: 23px;
}

.intro__span-text {
  color: white;
}

.intro__video {
  width: 272px;
  height: 193px;
  background-image: url(../../img/intro-img.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.intro__video-button {
  position: absolute;
  width: 81px;
  height: 81px;
  border-radius: 40px;
  border: 3px solid coral;
  z-index: 1;
  background-color: black;
  left: calc(50% - 40px);
  top: 50px;
  cursor: pointer;
  position: relative;
}
.intro__video-button::after {
  position: absolute;
  width: 24px;
  height: 26px;
  content: "";
  background: url(../../img/pley.png) no-repeat center center;
  left: calc(50% - 12px);
  top: 25px;
}

.intro__link-container {
  display: flex;
  justify-content: space-between;
  margin-top: 58px;
  width: 430px;
  border: 2px solid coral;
  padding: 1px 1px;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 70px;
  position: relative;
}
.intro__link-container::after {
  position: absolute;
  width: 190px;
  height: 190px;
  content: "";
  background-image: url(../../img/intro-vector-link.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  right: -50%;
  top: 0;
}

.intro__link {
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  padding: 20px 56px;
  font-weight: 500;
  font-size: 22.44px;
  line-height: 124%;
  letter-spacing: 0%;
}

.intro__img-one {
  position: relative;
}
.intro__img-one::after {
  position: absolute;
  width: 190px;
  height: 153px;
  content: "";
  background-image: url(../../img/intro-pizza-img.png);
  background-repeat: no-repeat;
  background-position: center center;
  left: 60%;
  top: -5%;
}
.intro__img-one::before {
  position: absolute;
  width: 180px;
  height: 200px;
  content: "";
  background-image: url(../../img/intro-fries-img.png);
  background-repeat: no-repeat;
  background-position: center center;
  left: -10%;
  bottom: -10px;
}

@media only screen and (max-width: 1000px) {
  .intro__img {
    width: 370px;
    height: 583px;
  }
  .intro__link-container {
    width: 288px;
  }
  .intro__link-container::after {
    display: none;
  }
  .intro__link {
    font-size: 16px;
    padding: 15px 30px;
  }
  .intro__img-one::after {
    width: 156px;
    height: 100px;
    background-size: cover;
    left: 58%;
    top: 1px;
  }
  .intro__img-one::before {
    width: 140px;
    height: 140px;
    background-size: cover;
    bottom: 0%;
    left: -10%;
  }
  .intro__slogan {
    font-size: 45px;
  }
  .intro__slogan::after {
    width: 60px;
    height: 30px;
    background-size: cover;
  }
  .intro__span-title {
    background-image: url(../../img/Lightning-two.png);
  }
}
@media only screen and (max-width: 760px) {
  .intro__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intro__link {
    font-size: 16px;
  }
  .intro__img-one::before {
    bottom: 0;
  }
  .intro__img-container {
    padding-bottom: 0;
  }
  .intro__img {
    width: 243px;
    height: 365px;
  }
  .intro__img-one::after {
    top: -20px;
  }
  .intro__img-one::before {
    bottom: -5%;
    left: -20%;
  }
  .intro__video {
    width: 194px;
    height: 138px;
    background-size: cover;
    text-align: center;
  }
  .intro__slogan {
    font-size: 30px;
  }
  .intro__video-button {
    width: 57px;
    height: 57px;
    left: 0;
    top: calc(50% - 28px);
    position: relative;
  }
  .intro__video-button::after {
    position: absolute;
    width: 17px;
    height: 17px;
    content: "";
    background-image: url(../../img/pley-small.png);
    left: calc(50% - 8px);
    top: calc(50% - 8px);
  }
  .intro__button-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    flex-direction: column-reverse;
  }
  .intro__link-container {
    margin-top: 33px;
    margin-bottom: 32px;
  }
}
.link {
  font-size: 19px;
  font-weight: 500;
  padding: 11px 56px;
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
  border-radius: 70px;
  color: white;
}

@media only screen and (max-width: 1000px) {
  .link {
    padding: 11px 30px;
    font-size: 16px;
  }
}
.menu__title {
  text-align: center;
  margin-bottom: 49px;
  font-family: "Muller";
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 69.17px;
  line-height: 110%;
  letter-spacing: 0%;
}

.menu__list {
  display: flex;
  text-align: center;
  margin-top: 74px;
  justify-content: space-between;
}

.menu__pizza-item {
  max-width: 297px;
  background: rgb(33, 10, 1);
  border-radius: 29.53px;
}
.menu__pizza-item:last-child {
  margin: 0;
}

.menu__nav-list {
  display: flex;
  justify-content: space-between;
}

.menu__nav-item {
  background: rgb(33, 10, 1);
  box-shadow: 0px 9px 40px 0px rgba(255, 107, 0, 0.06);
  border-radius: 100px;
  padding: 19px 65px;
  font-family: "Muller";
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: 0%;
}
.menu__nav-item:hover {
  background: linear-gradient(261.69deg, #FF5924 12.12%, #FFA229 86.72%);
}

@media only screen and (max-width: 1276px) {
  .menu__title {
    font-size: 48px;
  }
  .menu__nav-item {
    padding: 15px 45px;
    font-size: 12px;
    margin-top: 10px;
  }
  .menu__nav-list {
    flex-wrap: wrap;
  }
  .menu__nav-list:last-child {
    margin-right: auto;
  }
}
@media only screen and (max-width: 824px) {
  .menu__nav-list {
    justify-content: space-around;
  }
}
@media only screen and (max-width: 1063px) {
  .menu__list {
    flex-wrap: wrap;
    gap: 90px;
  }
}
@media only screen and (max-width: 642px) {
  .menu__list {
    align-content: center;
    flex-direction: column-reverse;
  }
}
.card {
  max-width: 229px;
  padding-left: 27px;
  padding-right: 41px;
  padding-bottom: 23px;
  max-width: 297px;
  background: rgb(33, 10, 1);
  border-radius: 29.53px;
  margin-right: 22px;
}
.card:last-child {
  margin: 0;
}

.card__pizza-title {
  margin-bottom: 20px;
  font-weight: 500;
  font-style: Medium;
  font-size: 25.1px;
  line-height: 110%;
  letter-spacing: 0%;
}

.card__pizza-text {
  margin-bottom: 20px;
  font-weight: 400;
  font-style: Regular;
  font-size: 14.32px;
  line-height: 110%;
  letter-spacing: 0%;
  color: rgb(163, 163, 163);
}

.card__button {
  border-radius: 50%;
  border: none;
  background-color: rgb(29, 9, 2);
  color: rgb(163, 163, 163);
  border: 1px solid rgb(163, 163, 163);
  cursor: pointer;
  margin-right: 37px;
  width: 40px;
  height: 40px;
}
.card__button:last-child {
  margin-right: 0;
}

.card__button--active {
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
  color: #fff;
}

.card__wrapper {
  align-items: center;
  margin-bottom: 20px;
}

.card__menu-button {
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 11px 52px 10px 50px;
  background: linear-gradient(to right, rgb(29, 9, 2), rgb(29, 9, 2)), linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  cursor: pointer;
  transition: color 900ms;
}
.card__menu-button span {
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.card__menu-button:hover {
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
}
.card__menu-button:hover span {
  color: #fff;
}

.card__menu-value {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.card__price {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 10px;
}

.card__menu-price {
  font-family: "Muller";
  font-weight: 500;
  font-style: Medium;
  font-size: 25.46px;
  line-height: 110%;
  letter-spacing: 0%;
}

.card__price-button {
  color: rgb(255, 255, 255);
  padding: 6px 7px 6px 7px;
  border: 1px solid #a3a3a3;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  cursor: pointer;
  text-align: center;
  line-height: 10px;
}

.card__price-button--active {
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.card__icon {
  font-family: "Times New Roman", Times, serif;
}

.card__img {
  margin-top: -54px;
}

.card__menu-link {
  padding-top: 15px;
  padding-left: 57px;
  padding-right: 48px;
  padding-bottom: 11px;
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
  border-radius: 84px;
  margin-top: 20px;
}
.card__menu-link:hover {
  background-color: transparent;
  color: #fff;
}

@media only screen and (max-width: 1196px) {
  .card {
    flex-wrap: wrap;
    max-width: 190px;
  }
  .card__menu-price {
    font-size: 19px;
  }
  .card__button {
    margin-right: 27px;
  }
  .card__button--light {
    margin-right: 27px;
  }
}
@media only screen and (max-width: 1053px) {
  .card__menu-link {
    padding: 10px 38px 9px 47px;
  }
}
@media only screen and (max-width: 1021px) {
  .card__menu-price {
    font-size: 16px;
  }
}
@media only screen and (max-width: 428px) {
  .card {
    max-width: 140px;
  }
  .card__img {
    width: 97px;
    height: 96px;
  }
  .card__pizza-title {
    font-size: 15px;
  }
  .card__pizza-text {
    font-size: 8px;
    max-width: 140px;
  }
  .card__button {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 50%;
  }
  .card__button--light {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 50%;
  }
  .card__menu-button {
    width: 118px;
    background-color: #1c0b05;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 9px;
  }
  .card__menu-price {
    font-size: 14px;
  }
  .card__button {
    margin-right: 15px;
  }
  .card__button--light {
    margin-right: 15px;
  }
  .card__menu-value {
    padding: 0;
  }
  .card__menu-link {
    max-width: 118px;
    padding-top: 9px;
    padding-bottom: 6px;
    padding-left: 34px;
    padding-right: 28px;
    font-size: 10px;
  }
  .card {
    max-width: 181px;
  }
}
.popular {
  margin-top: 54px;
  margin-bottom: 54px;
  width: 1248px;
  height: 286px;
  background-image: url(../../img/popular.png);
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
}

.popular__title {
  font-family: "Muller";
  font-weight: 500;
  font-style: Medium;
  font-size: 43.86px;
  line-height: 109%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 125px;
  padding-bottom: 117px;
}

@media only screen and (max-width: 1258px) {
  .popular {
    width: 100%;
    border-radius: 32px;
  }
}
@media only screen and (max-width: 428px) {
  .popular {
    background-image: url(../../img/pizza.png);
  }
  .popular__title {
    font-size: 26px;
  }
}