@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Muller";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Muller-Trial-Regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Muller";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Muller-Trial-Medium.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Muller";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Muller-Trial-ExtraBold.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(29, 9, 2);
  color: #fff;
  font-family: "Muller";
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1240px;
  padding: 0 10px;
  margin: 0 auto;
}

.logo {
  font-weight: 800;
  font-size: 34px;
  line-height: 110%;
  letter-spacing: 0;
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.header {
  padding: 48px 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav-list {
  display: flex;
  align-items: center;
}

.header__nav-item {
  margin-right: 80px;
  position: relative;
  padding-bottom: 13px;
}
.header__nav-item:last-child {
  margin-right: 0;
}
.header__nav-item:hover .header__nav-item-link {
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.header__nav-item:hover::after {
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
}
.header__nav-item::after {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  content: "";
  background: transparent;
  bottom: 0;
  left: calc(50% - 3px);
}

.header__nav-item-link {
  font-size: 17px;
  line-height: 110%;
}

.menu__title {
  text-align: center;
  margin-bottom: 49px;
  font-family: "Muller";
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 69.17px;
  line-height: 110%;
  letter-spacing: 0%;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__item-link {
  background: rgb(33, 10, 1);
  box-shadow: 0px 9px 40px 0px rgba(255, 107, 0, 0.06);
  border-radius: 100px;
  padding: 20px 75px;
  font-family: "Muller";
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: 0%;
}
.menu__item-link:hover {
  background: linear-gradient(261.69deg, #FF5924 12.12%, #FFA229 86.72%);
}

.card__list {
  display: flex;
  text-align: center;
  margin-top: 54px;
}

.card__pizza-item {
  background: rgb(33, 10, 1);
  border-radius: 29.53px;
  margin-right: 22px;
}
.card__pizza-item:last-child {
  margin: 0;
}

.card__pizza-title {
  margin-bottom: 20px;
  font-weight: 500;
  font-style: Medium;
  font-size: 25.1px;
  line-height: 110%;
  letter-spacing: 0%;
}

.card__pizza-text {
  margin-bottom: 20px;
  font-weight: 400;
  font-style: Regular;
  font-size: 14.32px;
  line-height: 110%;
  letter-spacing: 0%;
  color: rgb(163, 163, 163);
}

.card__button {
  border-radius: 50%;
  border: none;
  padding: 14px 11px 12px 10px;
  background-color: rgb(29, 9, 2);
  color: rgb(163, 163, 163);
  border: 1px solid rgb(163, 163, 163);
  cursor: pointer;
  margin-right: 37px;
}
.card__button:last-child {
  margin-right: 0;
}

.card__button--light {
  background: linear-gradient(261.69deg, #FF5924 12.12%, #FFA229 86.72%);
  border: none;
  border-radius: 50%;
  color: rgb(163, 163, 163);
  padding: 14px 11px 11px 10px;
  cursor: pointer;
  margin-right: 37px;
}
.card__button--light:last-child {
  margin-right: 0;
}

.card__wrapper {
  align-items: center;
  margin-bottom: 20px;
}

.card__menu-button {
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 11px 52px 10px 50px;
  background: linear-gradient(to right, rgb(29, 9, 2), rgb(29, 9, 2)), linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  cursor: pointer;
  transition: color 900ms;
}
.card__menu-button span {
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.card__menu-button:hover {
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
}
.card__menu-button:hover span {
  color: #fff;
}