* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color:$brown;
    color: #fff;
    font-family: "Muller";
    max-width: 100vh;
    width: 100%;
    overflow: hidden;
}
ol,
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
}
button {
    background: transparent;
    border: none;
    font-family: "Muller";
}
.gradient-border {
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 11px 52px 10px 50px;
    background: linear-gradient(to right, $brown, $brown), $gradient;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    cursor: pointer;
    span{
        background: $gradient;
        color: transparent;
        background-clip: text;
    }
    &:hover{
        background: $gradient;
        span{
            color: #fff;
        }
    }
}
