.events {
    padding: 75px 0 24px 0;
}

.events__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.events__title {
    width: 171px;
    font-weight: 500;
    font-size: 25.09px;
    margin-top: 87px;
    padding-bottom: 28px;
}

.events__link {
    align-items: center;
}

.events__container-img {
    display: flex;
}

.events__img-container {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    padding-left: 10px;
    margin-right: 28px;
    margin-bottom: 28px;
}

.events__container-img:nth-child(1) {
    .events__img-container:nth-child(1) {
        width: 370px;
        height: 260px;
        background-image: url(../../img/events-one.png);
        border-radius: 30px;
        position: relative;

        &::after {
            position: absolute;
            width: 190px;
            height: 218px;
            content: "";
            background-image: url(../../img/egg-and-bacon.png);
            background-position: center center;
            background-repeat: no-repeat;
            left: -60px;
        }
    }

    .events__img-container:nth-child(2) {
        width: 396px;
        height: 260px;
        background-image: url(../../img/events-two.png);
        border-radius: 30px;
    }

    .events__img-container:nth-child(3) {
        width: 428px;
        height: 260px;
    }

}

.events__container-img:nth-child(2) {
    .events__img-container:nth-child(1) {
        width: 615px;
        height: 260px;
        background-image: url(../../img/events-sriy.png);
        border-radius: 30px;
    }

    .events__img-container:nth-child(2) {
        width: 615px;
        height: 260px;
        background-image: url(../../img/events-four.png);
        border-radius: 30px;
        position: relative;

        &::after {
            position: absolute;
            width: 200px;
            height: 218px;
            content: "";
            background-image: url(../../img/buritto.png);
            background-position: center center;
            background-repeat: no-repeat;
            right: -70px;
            bottom: 20px;
        }
    }

}

.events__container-img:nth-child(3) {
    .events__img-container:nth-child(1) {
        width: 401px;
        height: 260px;
        background-image: url(../../img/events-eyt.png);
        border-radius: 30px;
        position: relative;

        &::after {
            position: absolute;
            width: 190px;
            height: 218px;
            content: "";
            background-image: url(../../img/cofee.png);
            background-position: center center;
            background-repeat: no-repeat;
            left: -50px;
            bottom: 0;
        }
    }

    .events__img-container:nth-child(2) {
        width: 401px;
        height: 260px;
        background-image: url(../../img/events-six.png);
        border-radius: 30px;
    }

    .events__img-container:nth-child(3) {
        width: 401px;
        height: 260px;
        background-image: url(../../img/events-seven.png);
        border-radius: 30px;
    }
}

@media only screen and (max-width:1433px) {
    .events__container-img:nth-child(3) {
        .events__img-container:nth-child(1) {
            &::after {
                width: 150px;
                height: 150px;
                background-size: cover;
            }
        }

        .events__img-container:nth-child(1) {
            width: 230px;
            height: 230px;
        }

        .events__img-container:nth-child(2) {
            width: 230px;
            height: 230px;
        }

        .events__img-container:nth-child(3) {
            width: 230px;
            height: 230px;
        }
    }

    .events__img-container {
        text-align: center;
    }
}

.events__container-img:nth-child(2) {
    .events__img-container:nth-child(2) {
        &::after {
            width: 130px;
            height: 130px;
            background-size: cover;
        }
    }

    .events__img-container:nth-child(1) {
        width: 360px;
        height: 230px;
    }

    .events__img-container:nth-child(2) {
        width: 360px;
        height: 230px;
    }

}

.events__container-img:nth-child(1) {
    .events__img-container:nth-child(1) {
        &::after {
            width: 130px;
            height: 130px;
            background-size: cover;
        }
    }

    .events__img-container:nth-child(1) {
        width: 220px;
        height: 230px;
    }

    .events__img-container:nth-child(2) {
        width: 220px;
        height: 230px;
    }

    .events__img-container:nth-child(3) {
        width: 250px;
        height: 230px;
    }
}


@media only screen and (max-width:675px) {
    .events__container {
        display: flex;
        justify-content: space-around;
        text-align: center;
        margin: 0 auto;
        flex-direction: column;
    }

    .events__img-container {
        align-items: center;
        margin: 28px auto;

        &::after {
            display: none;
        }

    }

    .events__container-img:nth-child(1) {
        display: flex;
        margin: 0 auto;
        justify-content: space-around;
        flex-direction: column-reverse;

        .events__img-container:nth-child(3) {
            text-align: center;
            margin: 0;
        }
    }

    .events__container-img:nth-child(2) {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0;
        flex-direction: column;

        .events__img-container:nth-child(1) {
            width: 190px;
            height: 230px;
        }

        .events__img-container:nth-child(2) {
            width: 190px;
            height: 230px;
        }
    }

    .events__container-img:nth-child(3) {
        display: flex;
        justify-content: space-around;
        margin: 0;
        flex-direction: column;
    }

    .events__container-img:nth-child(3) {
        .events__img-container:nth-child(1) {

            .events__img-container:nth-child(1) {
                width: 190px;
                height: 230px;
            }

            .events__img-container:nth-child(2) {
                width: 190px;
                height: 230px;
            }

            .events__img-container:nth-child(3) {
                width: 190px;
                height: 230px;
            }

        }
    }

    .events__container-img:nth-child(2) {
        .events__img-container:nth-child(1) {
            width: 190px;
            height: 230px;
        }

        .events__img-container:nth-child(2) {
            width: 190px;
            height: 230px;
            margin-right: 0;
        }
    }
}

@media only screen and (max-width:977px) {
    .events__container-img:nth-child(2) {
        .events__img-container:nth-child(2) {
            &::after {
                width: 100px;
                height: 100px;
                background-size: cover;
                right: -15px;
            }
        }

        .events__img-container:nth-child(1) {
            width: 310px;
            height: 230px;
        }

        .events__img-container:nth-child(2) {
            width: 310px;
            height: 230px;
            margin-right: 0;
        }

    }

    .events__container-img:nth-child(1) {
        .events__img-container:nth-child(1) {
            &::after {
                width: 100px;
                height: 100px;
                background-size: cover;
                left: -25px;
            }
        }

        .events__img-container:nth-child(1) {
            width: 190px;
            height: 230px;
        }

        .events__img-container:nth-child(2) {
            width: 190px;
            height: 230px;
        }

        .events__img-container:nth-child(3) {
            width: 210px;
            height: 230px;
            margin-right: 0;
        }
    }

    .events__container-img:nth-child(3) {
        .events__img-container:nth-child(1) {
            &::after {
                width: 110px;
                height: 110px;
                background-size: cover;
                left: -30px;
            }
        }

        .events__img-container:nth-child(1) {
            width: 190px;
            height: 230px;
        }

        .events__img-container:nth-child(2) {
            width: 190px;
            height: 230px;
        }

        .events__img-container:nth-child(3) {
            width: 190px;
            height: 230px;
            margin-right: 0;
        }
    }
}

@media only screen and (max-width:761px) {
    .events__container-img:nth-child(2) {
        .events__img-container:nth-child(2) {
            &::after {
                width: 100px;
                height: 100px;
                background-size: cover;
                right: -10px;
            }
        }
    }
}

@media only screen and (max-width:749px) {
    .events__container-img:nth-child(2) {
        .events__img-container:nth-child(2) {
            &::after {
                width: 100px;
                height: 100px;
                background-size: cover;
                right: -5px;
            }
        }
    }
        .events__container-img:nth-child(1) {
            .events__img-container:nth-child(1) {
                &::after {
                    width: 100px;
                    height: 100px;
                    background-size: cover;
                    left: -15px;
                }
            }
        }
    }
