.hamburger{
    width: 27px;
    height: 27px;
    background: url(../../img/hamburger.png) no-repeat center center;
    margin-left: 23px;
    display: none;
}
.hamburger--close{
    background: url(../../img/x-lg.svg) no-repeat center center;
    fill: $gradient;
}
@media only screen and (max-width:$tablet){
    .hamburger{
        display: block;
    }
}