.hamburger{
    width: 27px;
    height: 27px;
    background: url(../../img/hamburger.png) no-repeat center center;
    margin-left: 23px;
    display: none;
}
.hamburger--close {
  background:$gradient ;
  mask-image: url(../../img/x-lg.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

@media only screen and (max-width:$tablet){
    .hamburger{
        display: block;
    }
}