@keyframes hamburger-opener {
    0%{
        right: -100%;
    }
    100%{
        right: 0;
    }
}
@keyframes hamburger-closer {
    0%{
        right: -0;
    }
    100%{
        right: -100%;
    }
}
.header {
    padding: 48px 0;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
}
.header__nav-list {
    display: flex;
    align-items: center;
}
.header__nav-item {
    margin-right: 80px;
    position: relative;
    padding: 13px 0;
    &:last-child {
        margin-right: 0;
    }
    &:hover {
        .header__nav-item-link {
            background: $gradient;
            background-clip: text;
            color: transparent;

        }
        &::after {
            background: $gradient;
        }
    }
    &::after {
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        content: '';
        background: transparent;
        bottom: 0;
        left: calc(50% - 3px);
    }

}
.header__nav-item-link {
    font-size: 17px;
    line-height: 110.00000000000001%;
}
.header__button-wrapper {
    display: flex;
    align-items: center;
}
.header__basket-link {
    border-radius: 50%;
    background: $gradient;
    padding: 1px 4px;
    margin-left: 26px;
    text-align: center;

}
.header__nav-sign-link {
    display: none;
}
@media only screen and (max-width:890px) {
    .header__nav-item {
        margin-right: 24px;
    }
}
@media only screen and (max-width:$tablet) {
    .header {
        padding: 20px 0;
    }
    .header__sign-link {
        display: none;
    }
    .header__nav-wrapper {
       
       position: absolute;
        top: 81px;
        right: -100%;
        height: calc(100vh - 81px);
        width: 50%;
        background-color: rgb(12, 5, 0);
        border-radius: 20px 0 0 20px ;
        box-shadow: 5px 50px 10px 90px rgba(27, 12, 1, 0.06);
        text-align: center;
        animation-name: hamburger-closer;
        animation-duration: 500ms;
    }
    .header__nav-wrapper--open {
      
        right: 0;
        .header__nav-sign-link {
            display: inline-block;
        }
        animation-name: hamburger-opener;
        animation-duration: 500ms;
        
    }
    .header__nav-list {
        flex-direction: column;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .header__nav-item {
        margin: 0;
        margin-bottom: 12px;
    }
}
@media only screen and (max-width:570px){
    .header__nav-wrapper{
        width:70%;
    }
}