.text {
    font-family: 'Muller';
    font-weight: 400;
    font-size: 19.56px;
    line-height: 0%;
    letter-spacing: 0%;
}
@media only screen and(max-width:1306px){
    .text{
        font-size: 10px;
    }
}
   
